@import "tailwindcss";

@theme {
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Petrona', serif;
    --font-mono: 'Fira Mono', monospace;
    --color-primary: var(--color-neutral-950);
}

@layer base {
    html, body {
        @apply font-sans text-primary;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-serif font-semibold;
    }

    header {
        @apply w-full flex justify-center h-auto items-center relative mb-2;
    }

    main {
        @apply w-full max-w-4xl mx-auto flex flex-col gap-2 p-2;
    }
}

@layer components {
    .btn {
        @apply rounded-md px-4 py-2 text-sm bg-blue-400 hover:cursor-pointer;
    }

    .input {
        @apply rounded-md px-4 py-2 border border-primary;
    }
}
