@import "tailwindcss";

@theme {
    --font-sans: 'Manrope', sans-serif;
    --font-serif: 'Petrona', serif
}

@layer base {
    html, body {
        font-family: var(--font-sans), sans-serif;
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-serif), serif;
    }
}
