@import "tailwindcss";

@theme {
    --font-sans: 'Roboto', sans-serif;
    --font-serif: 'Roboto Serif', serif;
    --font-mono: 'Roboto Mono', monospace;
    --color-primary: var(--color-neutral-950);
    --color-secondary: var(--color-neutral-50);
}

@layer base {
    html, body {
        @apply font-sans text-primary;
    }

    h1, h2, h3, h4, h5, h6 {
        @apply font-serif font-bold;
    }

    header {
        @apply w-full flex justify-center h-auto items-center relative mb-2;
    }

    main {
        @apply w-full max-w-4xl mx-auto flex flex-col gap-2 p-2;
    }
}

@layer components {
    .btn {
        @apply rounded-md px-4 py-2 text-sm bg-blue-400 hover:cursor-pointer disabled:cursor-not-allowed w-fit disabled:opacity-60;
    }

    .input {
        @apply rounded-md px-4 py-2 border border-primary;
    }

    .wrong-answer {
        @apply flex gap-2 w-fit items-center px-4 py-2 rounded-md bg-red-400 text-secondary text-lg;
    }
}
