on:
  workflow_dispatch:

jobs:
  sst-remove:
    if: github.ref == format('refs/heads/{0}', github.event.repository.default_branch)
    environment: aws
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml
      - run: pnpm i --frozen-lockfile
      - uses: actions/setup-python@v6
        with:
          python-version: 3.13
          cache: pip
          pip-install: -r requirements.txt
      - run: alias aws='awsv2'
      - run: pnpm exec sst remove --stage production
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_REGION: ${{ secrets.AWS_REGION }}
